<form>
    <div class="right">
        <button ng-click="cancel()">cancel</button>
        <button ng-click="save()">save</button>
    </div>
    <div>
        <label>event:</label>
        <input type="text" ng-model="item.model.name">
    </div>
    <div>
        <label>start at:</label>
        <input type="date" ng-model="item.model.start">
        <input type="time" ng-model="item.model.start">
        <label>-</label>
        <input type="time" ng-model="item.model.end">
    </div>
</form>
